.footer {
    padding: 10px;
    position: relative;
    bottom: 0;
    background: linear-gradient(to top, var(--blue), var(--dark-blue) 100%);
    color: var(--grey);
    box-shadow: 0 -5px 30px var(--dark-blue);
    font-family: 'Times New Roman', Times, serif !important;
}

.footer svg {
    fill: var(--grey);
    height: 40px;
    transition: 0.5s ease-in-out;
}

.footer svg:hover {
    transform: rotate(-360deg);
    margin-right: 30px;
}

.footer ul {
    list-style-type: circle;
}

.footer li, .footer a {
    font-size: medium;
}

.footer a:link, .footer a:visited {
    color: var(--grey);
    transition: 0.4s ease-in-out;
    font-family: 'Times New Roman', Times, serif !important;
}

.footer a:hover, .footer a:active {
    padding-left: 15px;
}

.svgLink:hover, .svgLink:active {
    padding-left: 0 !important;
}

.HackingLink {
    font-size: large !important;
}

.HackingLink:hover, .HackingLink:active {
    padding-left: 10px !important;
}

.smaller {
    font-size: x-large;
}

.noStyle {
    list-style: none !important;
}

.poke {
    width: 100%;
    text-align: center;
    font-family: "Pokemon Solid";
    font-size: xx-large !important;
    color: var(--yellow);
    -webkit-text-stroke: 2px var(--blue);
    text-shadow: -6px 6px #0A285F;
    padding: 30px 0;
}

.timesNew {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: large;
}

.footer p {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: x-large;
}