@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('http://fonts.cdnfonts.com/css/ttvtechprecomput-2');

:root {
    --light: #eaf4a9;
    --yellow: #FFCC00 ;
    --blue: #0075BE  ;
    --grey: rgb(236, 233, 233);
}

p, a {
    font-family: "TTVTechPrecomput";
    font-size: xx-large;
}

body, html {
    background-image: url('https://www.10wallpaper.com/wallpaper/2560x1600/1203/blue_galaxy-Space_exploration_secret_wallpaper_2560x1600.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

.pokeball-toggler {
    z-index: 110;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 50px;
    transition: 1s ease-in-out;
    animation: comeToScreen 1s;
}

.pokeball-animation {
    transition: 1s ease-in-out;
    transform: rotate(360deg);
}

.navbar {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #DFDFDF ;
    transition: 0.8s ease-in-out;
}

.closed-navbar {
    transition: 0.8s ease-in-out;
    transform: translateY(-200%);
}

.nav a:link, .nav a:visited {
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    color: var(--blue);
}

.nav a:hover, .nav a:active {
    color:#0A285F;
}

.nav li {
    margin: 3.5vh 0;
}

.nav ul {
    list-style: none;
}

.nav-title {
    position: absolute;
    z-index: 101;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: "Pokemon Solid";
    color: var(--yellow);
    -webkit-text-stroke: 5px var(--blue);
    text-shadow: -8px 8px #0A285F;
    padding: 60px 0;
}

.high-nav {
    height: 80px;
    background-color: #DFDFDF ;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: -5px 0 30px #0A285F;
}

.carousel-wrapper img{
    height: calc(100vh);
}

@keyframes comeToScreen {
    0% { transform: translateX(100%);}
}