.gameboy-text {
    font-family: "Gameboy";
    font-size: xx-large;
}

.products-bg {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-color: var(--grey);
    animation: 1s slideIn ease-in-out;
}

.products-title {
    z-index: 90;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: "Pokemon";
    color: var(--yellow);
    -webkit-text-stroke: 5px var(--blue);
    text-shadow: -8px 8px #0A285F;
    padding: 60px 0;
}

.item-card {
    width: 93.2%;
    margin: 5%;
    border: 2px solid var(--blue);
    border-radius: 2px;
    box-shadow: 0 0 10px var(--transparent-dark-blue);
    text-align: center;
    transition: 0.15s ease-in-out;
}

.item-card:hover {
    transform: scale(1.03);
    background-color: rgba(245, 245, 245, 0.746);
    border-color: var(--dark-blue);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--transparent-dark-blue);
}
.card-img {
    height: 28vh;
    min-width: max-content;
}


.card-link {
    display: block;
    width: 100%;
    padding: 10px;
    -webkit-appearance: none;
    outline: none;
    border: none;
    color: var(--blue);
    text-decoration: none;
    
    background: linear-gradient(to right, var(--blue), var(--blue) 100%);
    background-position: 0% 100%;
    background-size: 0 100%;
    background-repeat:no-repeat;

    transition: 0.2s;
    font-family: "Gameboy";
    font-size: xx-large;
    border-radius: 2px;
    text-align: center;
    margin: 10px 0;
}

.card-link:hover {
    color: var(--grey);
    background-size: 100% 100%;
}

.card-price {
    padding: 10px 0;
}

@keyframes slideIn {
    0% {transform: translateY(100%);}
}

// .product {
//     margin-top: 15vh !important;
// }

.list-image {
    max-width: 100%;
    padding: 5px;
    margin-top: 15px;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }

  .price-number {
    color: var(--blue);
  }

  .card-name {
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-thickness: 2px;
    margin-top: 10px;
  }

  .description {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }