.my-canvas {
    height: 100vh;
}

.home-title {
    position: absolute;
    z-index: 90;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: "Pokemon Solid";
    color: var(--yellow);
    -webkit-text-stroke: 5px var(--blue);
    text-shadow: -8px 8px #0A285F;
    padding: 60px 0;
}

.homepage {
    text-align: center;
}

.websiteInfos {
    position: absolute;
    top: 25vh;
    z-index: 85;
    width: calc(100vw - 15px);
    color: #DFDFDF;
    padding: 15px;
    animation: 1s slideIn ease-in-out;
}

.webInfosVisible {
    font-family: 'Courier New', Courier, monospace !important;
    background-color :#0a285fb3 ;
    border-radius: 5px;
    margin: 0 15px;
}

.catcher {
    position: fixed;
    background-color : #0075be69 ;
    border-radius: 5px;
    bottom: 30vh;
    width: 100vw;
    color: #DFDFDF;
}

.webInfo-list {
    text-align: left;
}

.poke-letter {
    padding: 2px;
}

.grow {
    animation: grow 2s ease-in-out;
}

@keyframes grow {
    50% {font-size: 150px;}
    70% {font-size: 60px;}
}

@keyframes slideIn {
    0% {transform: translateY(-100%);}
}

yellow {
    color: var(--yellow);
}